.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
.modalOverlay {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 90%;
    text-align: center;
}

.modal-content{
    display: flex;  
    flex-direction: column;
    min-height: 30vh;
}

.Titulo{
    background-color: hsl(39, 63%, 58%);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.modalBody{
    display: flex;
    flex: 1;
}

