.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
  
.modalOverlay {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 90%;
    text-align: center;
}

.modal-content {
    display: flex;  
    flex-direction: column;
    min-height: 30vh;
}

.Titulo {
    background-color: hsl(39, 63%, 58%);
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.modalBody {
    display: flex;
    flex: 1;
    background-color: rgb(221, 218, 218);
    border-radius: 20px;
    padding: 15px;
    gap: 10px;
    justify-content: center;
}


.modalImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    width: 30%;
}

.modalImg img {
    margin-top: 10px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.customFileButton {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: antiquewhite;
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    font-size: 14px;
    color: #333;
    font-weight: 600;
    padding-top: 10px;
}

.customFileButton:hover {
    cursor:pointer;
    background-color: rgb(194, 182, 167);
}

/* Ajuste dos inputs */
.modalForm {
    width: 65%;
    padding: 15px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalForm h3 {
    font-size: 16px;
    text-align: center;
}

.modalInput {
    width: 100%;
    margin: 10px 0;
}

.modalInput input {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 10px;
}


.modalFooter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.modalButtonUpdate,
.modalButtonClose,
.modalButtonDelete {
    width: 100%;
    height: 40px;
    font-size: 14px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
}

.modalButtonUpdate {
    background: hsl(120, 42%, 67%);
    color:  #333;
}

.modalButtonUpdate:hover {
    background: hsl(120, 38%, 49%);
}

.modalButtonClose {
    background: hsl(0, 1%, 47%);
    color:  #333;
}

.modalButtonClose:hover {
    background: hsl(0, 1%, 34%);
}

.modalButtonDelete {
    background: hsl(0, 63%, 59%);
    color: #333;
}

.modalButtonDelete:hover {
    background: #e23232;
}


@media (max-width: 768px) {
    .modalOverlay {
        width: 90%;
        max-width: 100%;
        padding: 15px;
        border-radius: 5px;
    }

    .modalBody {
        flex-direction: column; 
        padding: 10px;
        align-items: center;
    }

    .modalImg {
        width: 100%;
        text-align: center;
    }

    .modalImg img {
        width: 80px; 
        height: 80px;
    }

    .customFileButton {
        font-size: 14px;
        height: 35px;
    }

    .modalForm {
        width: 100%;
        padding: 10px;
    }

    .modalForm h3 {
        font-size: 14px;
    }

    .modalInput input {
        width: 100%;
        font-size: 14px;
        padding: 8px;
    }

    .modalFooter {
        flex-direction: column;
        width: 100%;
    }

    .modalButtonUpdate,
    .modalButtonClose,
    .modalButtonDelete {
        height: 35px;
        font-size: 14px;
    }
}
