

.PersonalPageHeader{
    background-color: hsl(39, 63%, 58%);
    padding: 10px;
    text-align: center;
}

.PersonalPageFooter{
    background-color: hsl(39, 63%, 58%);
    width: 100%;
    text-align: center;
    padding: 10px;
}

.PersonalPageComponents{
    width: 1000px;
    margin: auto;
    height: 780px;
    text-align: center;
    background-color: gainsboro;
    border-radius: 20px;
}



.PersonalPageEvents{
    

    
}

.PersonalPagePessoal{
    display: flex;
    flex-direction: row;
    
    width: 1000px;
    margin: auto;
    padding-bottom: 10px;
}
